<div class='jumbotron'>
  <a ng-show="!isDefault" href="#/login">Back</a>
  <h3>Create Account</h3>

  <div>
    Username <input ng-model='username' ng-change='checkUser(username)' type='text' id="username" class='{{ usernameValid === null ? '' : usernameValid ? "validUsername" : "invalidUsername"}}'>
    <img ng-show='usernameValid !== null' ng-src='{{usernameValid ? ("assets/img/available.png" || null) : ("assets/img/notAvailable.png" || null)}}' />
  </br>
    Password <input ng-model='password' type='password' ng-disabled='!usernameValid'>
    <button ng-click='Create()'>Create</button>
  </div>
  <a ng-show="isDefault" href="#/add">Add Account</a>
</div>
