<div class='jumbotron'>
  <h3>Register</h3>
  <button ng-click='showImport = ! showImport; showCreate = false'>Import Account</button>
  <button ng-click='showCreate = ! showCreate; showImport = false'>Create Account</button>

  <div id='importAccount' ng-show='showImport'>
    /* TODO - import/export functionality */
  </div>

  <div id='createAccount' ng-show='showCreate'>
    <img ng-src='{{usernameValid ? ("assets/img/available.png" || null) : ("assets/img/notAvailable.png" || null)}}' />
    Username <input ng-model='username' ng-change='checkUser(username)' type='text' id="username" class='{{usernameValid ? "validUsername" : "invalidUsername"}}'>
  </br>
    Password <input ng-model='password' type='password' ng-disabled='usernameValid'>
    <button ng-click='Create()'>Create</button>
  </div>
</div>
