@standardAlpha: 80%;
@lightAlpha: 60%;
@tinyAlpha: 40%;
@frontBaseColor: #ffffff;
@backBaseColor: #333333;
@shadowColor: rgba(0,0,0,0.4);

.elevate(@height) {
  -webkit-box-shadow: 0 unit(@height / 2, em) unit(@height, em) @shadowColor;
  box-shadow: 0 unit(@height / 2, em) unit(@height, em) @shadowColor;
}

.noselect() {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.title {
  text-align: center;
  color: fade(@frontBaseColor, @standardAlpha);
}

#loginForm {
  padding: 0 2rem;
}

.floatbox {
  width: 6em;
  height: 6em;
  margin: auto;
  background-color: #555;
  border-radius: 2px;
  .elevate(1);
}

.toolbar {
  background-color: @backBaseColor;
  width: 100%;
  position: relative;
}

.title {
  margin: 0;
}

paper-tabs {
  position: relative;
}

paper-tab {
  .noselect();
  position: relative;
  display: inline-flex;
  flex: 1;
}

.paperTabsContainer {
  display: flex;
  width: 100%;
  position: relative;
}

.paperTabContainer {
  width: 100%;
  height: 3em;
  line-height: 3em;
  cursor: pointer;
}

.paperTabContainer > span {
  width: 100%;
  padding: 0 12px;
  text-align: center;
  position: relative;
  display: block;
  cursor: inherit;
}

.tabSelected {
  width: 100%;
  position: relative;
  height: 2px;
  bottom: 0;
  background-color: fade(@frontBaseColor, @lightAlpha);
  transition: transform;
}

.tabSelected.expand {
  transition-duration: 0.225s;
  transition-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
}

.tabSelected.contract {
  transition-duration: 0.27s;
  transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

// Ripple Styles

paper-ripple {
  display: block;
  position: absolute;
  border-radius: inherit;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

paper-ripple [animating] {
  -webkit-transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
}

.ripple-background,
.ripple-waves,
.wave-container,
.wave {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ripple-background,
.wave {
  opacity: 0;
}

.ripple-waves,
.wave {
  overflow: hidden;
}

.wave-container,
.wave {
  border-radius: 50%;
}

paper-ripple.circle .ripple-background,
paper-ripple.circle .ripple-waves {
  border-radius: 50%;
}

paper-ripple.circle .wave-container {
  overflow: hidden;
}

// Paper text styles

paper-text-field {
  width: 100%;
  position: relative;
}

.paperTextRoot {
  display: block;
  width: 100%;
  position: relative;
  background: none;
  color: fade(@frontBaseColor, @standardAlpha);
  border: none;
  outline: none;
  border-bottom: 1.5px solid rgba(255,255,255,0.1);
  font-size: 15;
  flex: 1 1 auto;
}

.paperTextCont {
  display: block;
  position: relative;
  width: 100%;
  padding: 8px 0;
}

.paperTextCont .labelInputCont {
  display: block;
  width: 100%;
  position: relative;
  height: 2.4rem;
}

.paperTextCont .labelPlaceHolder {
  display: block;
  width: 100%;
  position: relative;
  height: 2rem;
}

.paperTextOutline {
  border-bottom: 2px solid #2196F3;
  transform: scaleX(0) translate3d(0,-2px,0);
  transition: transform 0.2s ease;
}

.textLabel {
  position: absolute;
  bottom: 0.2em;
  color: fade(@frontBaseColor, @tinyAlpha);
  transform: translate3d(0,0,0);
  transform-origin: 0 0;
  transition: transform 0.2s ease, color 0.2s ease;
}

.labelInputCont.focused .paperTextOutline {
  transform: scaleX(1) translate3d(0,-2px,0);
}

.labelInputCont.content .textLabel {
  transform: matrix(0.75, 0, 0, 0.75, 0, -18) translate3d(0,-1px,0);
}

.labelInputCont.content.focused .textLabel {
  color: #2196F3;
}
