<div class="loginPage">
  <div id="loginForm" ng-disabled="account == null" ng-model="account">
    <h3>{{account.username}}</h3>
    <input type="password" ng-model="password">
  </div>
  <div id="accountSelector">
    <div ng-repeat="localAccount in localAccounts" ng-if="!isActive(localAccount.username)">
      <h3>{{localAccount.username}}</h3>
      /* profile pic or something */
      <button ng-click="setAccount(localAccount)">Select</button>
    </div>
  </div>
  <a href="#/register">Create Account</a>
  <a href="#/add" disabled=true>Add Account</a>
</div>
