<div class="loginPage">
  <!-- Just here for testing paper components, will NOT stay here -->
  <div class="toolbar">
    <paper-tabs>
      <paper-tab>Test</paper-tab>
      <paper-tab>icles</paper-tab>
      <paper-tab>Cool</paper-tab>
    </paper-tabs>
  </div>
  <div id="loginForm" ng-disabled="account == null" ng-model="account">
    <h3>{{account.username}}</h3>
    <paper-text-field ptf-expose label="Username" ng-model="username"></paper-text-field>
    <paper-text-field ptf-expose password label="Password" ng-model="password"></paper-text-field>
    <div class="flexRow reversed">
      <paper-button>Create Account</paper-button>
    </div>
  </div>
  <div id="accountSelector">
    <div ng-repeat="localAccount in localAccounts" ng-if="!isActive(localAccount.username)">
      <h3>{{localAccount.username}}</h3>
      /* profile pic or something */
      <button ng-click="setAccount(localAccount)">Select</button>
    </div>
  </div>
  <a href="#/register">Create Account</a>
  <a href="#/add" disabled=true>Add Account</a>
</div>
