<div class='jumbotron'>
  <h3>Register</h3>
  <button ng-click="showImport = ! showImport; showCreate = false">Import Account</button>
  <button ng-click="showCreate = ! showCreate; showImport = false">Create Account</button>
  <div ng-show="showImport">
    From file <input ng-model="importFile" type="file">
  </div>
  <div ng-show="showCreate">
    Username <input ng-model="username" type="text">
  </br>
    Password <input ng-model="password" type="password">
    <button ng-click="Create()">Create</button>
  </div>
</div>
